@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --black: #171718;
  --grey: #c5c4c441;
  --white: #fff;
  --blue: #0077b5;
  --light-blue: #2698d6;

  --text-color: var(--black);
  --dark-bg: var(--grey);
  --accent: var(--blue);
  --link: var(--light-blue);
}

html,
body {
  background-color: var(--white);
  height: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  color: var(--text-color);
  height: 100%;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--text-color);
}

textarea:focus,
input:focus {
  outline: none;
}

.button {
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--white);
  text-align: center;
  border-radius: 3px;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  position: relative;
  top: 1px;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1100px;
  flex: 1 1 auto;
}

.pages-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.11);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent);
  transition: opacity 0.1s ease-in;
  text-shadow: 0 0.12rem 0.2rem rgba(0, 0, 0, 0.11);
}

.logo:hover {
  opacity: 0.7;
}

.nav-list {
  display: flex;
  row-gap: 15px;
}

.nav-item {
  cursor: pointer;
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  font-weight: 500;
  color: var(--text-color);
  transition: opacity 0.1s ease-in;
  border-bottom: 2px solid var(--accent);
  mask: conic-gradient(at bottom 2px left 2px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 2px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  -webkit-mask: conic-gradient(at bottom 2px left 2px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 2px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.2s, -webkit-mask-position 0s 0s;
}

.nav-link:hover {
  border-bottom: 2px solid var(--accent);
  --_i: 100%;
  color: var(--accent);
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

.nav-link--activ {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

.about {
  text-align: center;
  max-width: 300px;
  background-color: white;
  margin-right: 100px;
}

.about-img {
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.about-title {
  font-size: 20px;
  color:var(--accent);
  font-weight: 700;
  margin-bottom: 15px;
  text-transform:uppercase;
}

.about-text {
  font-weight: 500;
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.social-item {
  cursor: pointer;
  z-index: 2;
  margin-right: 15px;
}

.social-item:last-child {
  margin-right: 0px;
}

.src {
  pointer-events: none;
}

.social-link {
  display: inline-block;
}

.social-link:hover {
  opacity: 0.8;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 10px 0;
  background-color: var(--dark-bg);
}
.footer-list {
  display: flex;
  justify-content: center;
}

.footer-item {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-right: 25px;
}

.footer-item:last-child {
  margin-right: 0px;
}

.footer-title {
  font-weight: 700;
}

.footer-link {
  color: var(--black);
}

.smile {
  vertical-align: middle;
}

.section {
  margin-bottom: 50px;
}

.main {
  max-width: 660px;
}

.main-title {
  font-size: 20px;
  color: var(--accent);
  font-weight: 700;

  margin-bottom: 30px;
}

.main-text {
  font-weight: 500;
  text-align:left;
  margin-bottom: 20px;
}

.link {
  font-weight: 700;
  color:var(--link);
  display: inline-block;
}

.contact-list {
  margin-bottom: 15px;
}

.contact-item {
  display: flex;
  column-gap: 5px;
}

.contact-title {
  font-weight: 700;
}

.contact-link {
  color: var(--black);
}

.form {
  width: 500px;
}
.form-input {
  display: block;
  width: 100%;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  margin-bottom: 15px;
  padding: 10px 10px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 100px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  margin-bottom: 15px;
  padding: 10px 10px;
}

.form-submit {
  border-radius: 10px;
  font-weight: 700;
  padding: 7px 30px;
}

@media (max-width: 960px) { 
  .about {
    max-width: 300px;
    margin-right: 50px;
  }

  .main-title {
    margin-bottom: 20px;
  }
  .form {
    max-width: 350px;
  }
}

@media (max-width: 490px) {
  .body {
    font-size: 14px;
  }

  .pages-wrapper {
    display: block;
  }

  .decoration-block {
    display: none;
  }

  .header-wrapper {
    justify-content: center;
  }

  .nav-link {
    border: none;
    mask: none;
  -webkit-mask: none;
  transition: none;
  }

  .about {
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .about-img {
    width: 250px;
  }

  .main-title {
    margin-bottom: 20px;
  }
  .form {
    width: auto;
  }
}
